# Connector class configuration
name=tecton-ingest-api-sink
topics=<source-topics>
tasks.max=1
connector.class=com.tecton.kafka.connect.TectonHttpSinkConnector

# Tecton HTTP-related configurations
tecton.http.cluster.endpoint=https://<tecton-cluster-endpoint>
tecton.http.auth.token=<auth-token>
tecton.http.connect.timeout=30
tecton.http.request.timeout=30
tecton.http.async.enabled=true
tecton.http.concurrency.limit=50

# Tecton payload related configurations
tecton.workspace.name=<workspace-name>
tecton.push.source.name=<push-source-name>
tecton.dry.run.enabled=false
tecton.batch.max.size=10

# Kafka-related configurations
tecton.kafka.timestamp.enabled=true
tecton.kafka.key.enabled=true
# This will not be possible until Map type is supported by Tecton for Ingest API
include.kafka.headers=false

# Logging configuration
tecton.logging.event.data.enabled=false
